@model List<WebCV.Models.Profile>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-table"></i> Profiles
        <a class="btn btn-info btn_Add" href="@Url.Action("Create", "Profiles")">Add</a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                           FullName
                        </th>
                        <th>
                            Phone
                        </th>
                        <th>
                           Adress
                        </th>
                        <th>
                            DateofBirth
                        </th>
                        <th>
                            Image
                        </th>
                        <th>
                            Sex
                        </th>
                        <th>
                            Hobbies
                        </th>
                        <th>
                            Descreption
                        </th>
                        <th>
                            TargetJob
                        </th>
                        <th>
                            Status
                        <th>
                            Education
                        </th>
                        <th>
                            Specialized
                        </th>
                        <th>
                            Is_View
                        </th>
                        <th>Action</th>
                    </tr>
                    t
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.FullName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Phone)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Adress)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DateofBirth)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Image)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Sex)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Hobbies)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Descreption)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TargetJob)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Education.EducationName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Specialized.SpecializedName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Is_View)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.Id_Profile }) |
                                @Html.ActionLink("Details", "Details", new { id = item.Id_Profile }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.Id_Profile })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

