<ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
        <a href="@Url.Action("Index", "Users")" class="nav-link">
            <i class="fa fa-fw fa-dashboard"></i>
            <span class="nav-link-text">User</span>
        </a>
    </li>
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Charts">
        <a href="@Url.Action("Index", "Education")" class="nav-link">
            <i class="fa fa-fw fa-area-chart"></i>
            <span class="nav-link-text">Education</span>
        </a>
    </li>
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
        <a href="@Url.Action("Index", "Experiences")" class="nav-link">
            <i class="fa fa-fw fa-table"></i>
            <span class="nav-link-text">Experience</span>
        </a>
    </li>
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Link">
        <a href="@Url.Action("Index", "Language")" class="nav-link">
            <i class="fa fa-fw fa-link"></i>
            <span class="nav-link-text">Language</span>
        </a>
    </li>
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Link">
        <a href="@Url.Action("Index", "Project")" class="nav-link">
            <i class="fa fa-fw fa-link"></i>
            <span class="nav-link-text">Project</span>
        </a>
    </li>
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Link">
        <a href="@Url.Action("Index", "Skills")" class="nav-link">
            <i class="fa fa-fw fa-link"></i>
            <span class="nav-link-text">Skill</span>
        </a>
    </li>
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Link">
        <a href="@Url.Action("Index", "Roles")" class="nav-link">
            <i class="fa fa-fw fa-link"></i>
            <span class="nav-link-text">Role</span>
        </a>
    </li>
    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Link">
        <a href="@Url.Action("Index", "Specializeds")" class="nav-link">
            <i class="fa fa-fw fa-link"></i>
            <span class="nav-link-text">Specialized</span>
        </a>
    </li>
</ul>
@*<ul class="navbar-nav sidenav-toggler">
    <li class="nav-item">
        <a class="nav-link text-center" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
        </a>
    </li>
</ul>*@
