<!-- About section -->
@model List<WebCV.Models.Profile>
<div class="about" id="about">
    <div class="container">
        <h3 class="text-center">Về tôi</h3>
        @foreach (var item in Model)
        {
            <div class="col-md-5 about_left" style="background: url('/Content/Home/images/@item.Image') no-repeat 0px 0px; background-size: 450px 500px;">
                @*<ul class="address" style="opacity:unset;">
                    <li>
                        <ul class="agileits-address-text ">
                            <li><b>Name</b></li>
                            <li>@item.FullName</li>
                        </ul>
                    </li>
                    <li>
                        <ul class="agileits-address-text ">
                            <li><b>D.O.B</b></li>
                            <li>@item.DateofBirth</li>
                        </ul>
                    </li>
                    <li>
                        <ul class="agileits-address-text">
                            <li><b>PHONE</b></li>
                            <li>@item.Phone</li>
                        </ul>
                    </li>
                    <li>
                        <ul class="agileits-address-text">
                            <li><b>JOB</b></li>
                            <li>@item.TargetJob</li>
                        </ul>
                    </li>
                    <li>
                        <ul class="agileits-address-text">
                            <li><b>EXPERIENCE</b></li>
                            <li>+4 Years</li>
                        </ul>
                    </li>
                    <li>
                        <ul class="agileits-address-text">
                            <li><b>ADDRESS </b></li>
                            <li>@item.Adress</li>
                        </ul>
                    </li>
                    <li>
                        <ul class="agileits-address-text">
                            <li><b>WEBSITE </b></li>
                            <li><a href="#">www.mywebsite.com</a></li>
                        </ul>
                    </li>
                </ul>*@
                @*<div class="w3-socials about-social">
                    <ul>
                        <li>
                            <a href="#"><span class="fa fa-facebook"></span></a>
                        </li>
                        <li>
                            <a href="#"><span class="fa fa-vk"></span></a>
                        </li>
                        <li>
                            <a href="#"><span class="fa fa-pinterest-p"></span></a>
                        </li>
                        <li>
                            <a href="#"><span class="fa fa-twitter"></span></a>
                        </li>
                    </ul>
                </div>*@
            </div>
            <div class="col-md-7 about_right">
                <h3>Xin chào, tôi là @item.FullName</h3>
                <h4>@item.Adress - @item.Phone</h4>
                <h5><b>Ngày sinh: </b> @item.DateofBirth</h5>
                <br />
                <p>
                    <b>Mục tiêu nghề nghiệp:</b> @item.TargetJob
                    <br />
                    <b>Giới thiệu:</b> @item.Descreption
                </p>
                <p>
                    <b>Sở thích:</b> @item.Hobbies
                </p>
                @*<ul>
                    <li><a href="#contact" class="w3ls_more scroll">Hire Me</a></li>
                    <li><a href="#contact" class="w3l scroll">Contact Me</a></li>
                </ul>*@
            </div>
            <div class="clearfix"></div>
        }
    </div>
</div>
<!-- //About section -->
