@model List<WebCV.Models.Profile>
<section class="comment-w3l" id="contact">
    <div class="container">
        <h3 class="text-center">Liên hệ với tôi</h3>
        <div class="col-lg-6 col-md-6 col-sm-6 comment-agile1" data-aos="flip-left">
            <form action="#" method="post">
                <div class="control-group form-group">
                    <div class="controls">
                        <input type="text" class="form-control" id="name" placeholder="Full Name" required="">
                        <p class="help-block"></p>
                    </div>
                </div>
                <div class="control-group form-group">
                    <div class="controls">
                        <input type="email" class="form-control" id="email" placeholder="Email Address" required="" />
                    </div>
                </div>
                <div class="control-group form-group">
                    <div class="controls">
                        <input type="email" class="form-control" id="email" placeholder="Phone Number" required="" />
                    </div>
                </div>
                <div class="control-group form-group">
                    <div class="controls">
                        <textarea rows="10" cols="100" class="form-control" id="message" placeholder="Message" required=""></textarea>
                    </div>
                </div>
                @*<input type="submit" class="btn btn-primary" value="Send">Send Message</input>*@
                <button id="btnSend" class="btn btn-success">Send</button>
            </form>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 comment-agile2" data-aos="flip-right">
            @foreach (var item in Model)
            {
                <h4>Một số thông tin về tôi</h4>
                <p class="comment-w3">Họ và tên: @item.FullName - Sở thích: @item.Hobbies <br />
                Mô tả bản thân: @item.Descreption
            </p>
                <h5><span class="fa fa-phone"></span> @item.Phone</h5>
                <h5><span class="fa fa-envelope"></span> <a href="mailto:name@example.com"> mail@example.com</a></h5>
                <h5><span class="fa fa-map-marker"></span> @item.Adress</h5>
            }
        </div>
        <div class="clearfix"></div>
    </div>
</section>
