@model List<WebCV.Models.User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="card mb-3">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            Email
                        </th>
                        <th>
                            RoleName
                        </th>
                        <th>
                            PassWord
                        </th>
                        <th>
                            Status
                        </th>
                        <th class="W_action">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.Email
                            </td>
                            <td>
                                @item.Role.RoleName
                            </td>
                            <td>
                                @item.PassWord
                            </td>
                            <td>
                                @(item.Status ? "Actived" : "Block")
                            </td>
                            <td style="display:flex;">
                                <a class="btn btn-primary btn-sm" href="@Url.Action("Edit",new {@id=item.Id_User})">Update</a>
                                <div class="div-a-color">
                                    @Ajax.ActionLink("Delete", "Delete", new { @id = item.Id_User }, new AjaxOptions
                               {
                                   Confirm = "Bạn có muốn xóa bản ghi này không?",
                                   OnComplete = "$('#row_" + @item.Id_User + "').remove(); window.location.reload()",
                                   HttpMethod = "Delete"
                               })
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>
