@model List<WebCV.Models.Experience>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-table"></i> Experiences
        <a href="@Url.Action("Create", "Experiences")" class="btn btn-info btn_Add">Add</a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                           ExperienceName
                        </th>
                        <th>
                            Date
                        </th>
                        <th>
                            Descreption
                        </th>
                        <th>
                            Status
                        </th>
                        <th class="W_action">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ExperienceName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Ex_Date)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Ex_Descreptiom)
                            </td>
                            <td>
                               @(item.Status ? "Actived" : "Block")
                            </td>
                            <td style="display:flex;">
                                <a class="btn btn-primary btn-sm" href="@Url.Action("Edit",new {@id=item.Id_Experience})">Update</a>
                                <div class="div-a-color">
                                    @Ajax.ActionLink("Delete", "Delete", new { @id = item.Id_Experience }, new AjaxOptions
                               {
                                   Confirm = "Bạn có muốn xóa bản ghi này không?",
                                   OnComplete = "$('#row_" + @item.Id_Experience + "').remove(); window.location.reload()",
                                   HttpMethod = "Delete"
                               })
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>
